{% extends 'planner_base.html' %}
{% block title %} Perfil {% endblock %}

{% load static %}

{% block extra_links %}

<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

{% endblock %}

{% block section1 %}

<!-- <div id="onLoadModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false"> -->
<div id="onLoadModal" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Diagnósticos</h5>
            </div>
            <div class="modal-body">
                <p>¿Qué tipo de diagnóstico deseas realizar?</p>
                <div class="d-flex justify-content-center">
                    <button id="cardio-btn" class="btn btn-primary me-2">Diagnóstico Cardiovascular <br> <i
                            class="fas fa-heartbeat"></i> </button>
                    <button id="obesidad-btn" class="btn btn-primary">Diagnóstico Obesidad <br> <i
                            class="fas fa-weight"></i></button>
                </div>
                <div class="d-flex justify-content-center">
                    <button id="result-btn" class="btn btn-primary my-2" style="width: 100%;">
                        Resultados
                        <br>
                        <i class="fas fa-poll"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <!-- ------- Diagnóstico Cardio ------- -->

    <div id="cardio-card" class="card" style="display: none;">
        <div class="card-header">
            <h5>Diagnóstico Cardiováscular</h5>
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group row">
                    <div class="col-sm-4 align-self-center">
                        {{diagnos_form.fecha_nacimiento.label}}
                        {{diagnos_form.fecha_nacimiento}}
                    </div>
                    <div class="col-sm-4 align-self-center">
                        {{diagnos_form.peso.label}}
                        {{diagnos_form.peso}}
                    </div>
                    <div class="col-sm-4 align-self-center">
                        {{diagnos_form.altura.label}}
                        {{diagnos_form.altura}}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                        {{diagnos_form.sexo.label}}
                        {{diagnos_form.sexo}}
                    </div>
                </div>
                <hr>
                <div class="form-group row">
                    <div class="col-sm-4 align-self-center">
                        {{diagnos_form.alcoholico.label}}
                        {{diagnos_form.alcoholico}}
                    </div>
                    <div class="col-sm-4 align-self-center">
                        {{diagnos_form.fumador.label}}
                        {{diagnos_form.fumador}}
                    </div>
                    <div class="col-sm-4 align-self-center">
                        {{diagnos_form.deporte.label}}
                        {{diagnos_form.deporte}}
                    </div>
                </div>
                <hr>
                <div class="form-group row">
                    <div class="col-sm-6 align-self-center">
                        {{diagnos_form.pres_hi.label}}
                        {{diagnos_form.pres_hi}}
                    </div>
                    <div class="col-sm-6 align-self-center">
                        {{diagnos_form.pres_lo.label}}
                        {{diagnos_form.pres_lo}}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 align-self-center">
                        {{diagnos_form.glucosa.label}}
                        {{diagnos_form.glucosa}}
                    </div>
                    <div class="col-sm-6 align-self-center">
                        {{diagnos_form.colesterol.label}}
                        {{diagnos_form.colesterol}}
                    </div>
                </div>
                <button type="submit" name="btnDiagnosticoCardio"
                    class="btn btn-primary btn-user btn-block my-3">Generar
                    diagnóstico</button>
            </form>
            <p style="color: red">{{diagnos_form.errors }}</p>
        </div>
    </div>

    <!-- ------- Fin Diagnóstico Cardio ------- -->

    <!-- ------- Diagnóstico Obesidad ------- -->

    <div id="obesidad-card" class="card" style="display: none;">
        <div class="card-header">
            <h5>Diagnóstico Obesidad</h5>
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group row">
                    <div class="col-sm-4 align-self-center">
                        {{obes_form.fecha_nacimiento.label}}
                        {{obes_form.fecha_nacimiento}}
                    </div>
                    <div class="col-sm-4 align-self-center">
                        {{obes_form.peso.label}}
                        {{obes_form.peso}}
                    </div>
                    <div class="col-sm-4 align-self-center">
                        {{obes_form.altura.label}}
                        {{obes_form.altura}}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                        {{obes_form.genero.label}}
                        {{obes_form.genero}}
                    </div>
                </div>
                <hr>
                <div class="form-group row">
                    <div class="col-sm-4 align-self-center">
                        {{obes_form.historial_obesidad.label}}
                        {{obes_form.historial_obesidad}}
                    </div>
                    <div class="col-sm-4 align-self-center">
                        {{obes_form.favc.label}}
                        {{obes_form.favc}}
                    </div>
                    <div class="col-sm-4 align-self-center">
                        {{obes_form.fcvc.label}}
                        {{obes_form.fcvc}}
                    </div>
                </div>
                <hr>
                <div class="form-group row">
                    <div class="col-sm-4 align-self-center">
                        {{obes_form.npc.label}}
                        {{obes_form.npc}}
                    </div>
                    <div class="col-sm-4 align-self-center">
                        {{obes_form.caec.label}}
                        {{obes_form.caec}}
                    </div>
                    <div class="col-sm-4 align-self-center">
                        {{obes_form.smoke.label}}
                        {{obes_form.smoke}}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4 align-self-center">
                        {{obes_form.ch2o.label}}
                        {{obes_form.ch2o}}
                    </div>
                    <div class="col-sm-4 align-self-center">
                        {{obes_form.scc.label}}
                        {{obes_form.scc}}
                    </div>
                    <div class="col-sm-4 align-self-center">
                        {{obes_form.faf.label}}
                        {{obes_form.faf}}
                    </div>
                </div>
                <div class="form-group row my-2">
                    <div class="col-sm-4 align-self-center">
                        {{obes_form.tue.label}}
                        {{obes_form.tue}}
                    </div>
                    <div class="col-sm-4 align-self-center">
                        {{obes_form.calc.label}}
                        {{obes_form.calc}}
                    </div>
                    <div class="col-sm-4 align-self-center">
                        {{obes_form.mtrans.label}}
                        {{obes_form.mtrans}}
                    </div>
                </div>
                <button type="submit" name="btnDiagnosticoObesidad"
                    class="btn btn-primary btn-user btn-block my-3">Generar
                    diagnóstico</button>
            </form>
            <p style="color: red">{{obes_form.errors }}</p>
        </div>
    </div>

    <!-- ------- Fin Diagnóstico Obesidad ------- -->

    <!-- ------- Diagnósticos ------- -->

    <div id="obesidad-card" class="card" style="">
        <div class="card-header">
            <h5>Resultados</h5>
        </div>
        <div class="card-body">
            <div class="d-flex">
                <div class="col-6">
                    <h6 class="text-center">Diagnósticos Cardiovasculares</h6>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Fecha</th>
                                <th scope="col">Resultado</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for resultado in result_cardio %}
                            <tr>
                                <th scope="row">{{resultado.fecha_creacion | date:'Y-m-d H:i'}}</th>
                                {% if resultado.resultado == 0 %}
                                <td class="table-success"> 
                                    Negativo
                                </td>
                                {% else %}
                                <td class="table-danger"> 
                                    Positivo
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-6">
                    <h6 class="text-center">Diagnósticos Obesidad</h6>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Fecha</th>
                                <th scope="col">Resultado</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for resultado in result_obes %}
                            <tr>
                                <th scope="row">{{resultado.fecha_creacion | date:'Y-m-d H:i'}}</th>
                                {% if resultado.nobeyesdad == 0 %}
                                <td class="table-warning"> 
                                    Peso Insuficiente
                                </td>
                                {% elif resultado.nobeyesdad == 1 %}
                                <td class="table-success"> 
                                    Peso Normal
                                </td>
                                {% elif resultado.nobeyesdad == 2 %}
                                <td class="table-info"> 
                                    Sobrepeso Nivel 1
                                </td>
                                {% elif resultado.nobeyesdad == 3 %}
                                <td class="table-primary"> 
                                    Sobrepeso Nivel 2
                                </td>
                                {% elif resultado.nobeyesdad == 4 %}
                                <td class="table-danger"> 
                                    Obesidad Tipo 1
                                </td>
                                {% elif resultado.nobeyesdad == 5 %}
                                <td class="table-danger"> 
                                    Obesidad Tipo 2
                                </td>
                                {% elif resultado.nobeyesdad == 6 %}
                                <td class="table-danger"> 
                                    Obesidad Tipo 3
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- ------- Diagnósticos ------- -->

</div>


{% endblock %}

{% block extra-scripts %}

<script>

    $(document).ready(function () {
        $("#onLoadModal").modal('show');
    });

    document.getElementById('cardio-btn').onclick = function () {
        $("#onLoadModal").modal('hide');
        $("#cardio-card").css("display", "block");
    };

    document.getElementById('obesidad-btn').onclick = function () {
        $("#onLoadModal").modal('hide');
        $("#obesidad-card").css("display", "block");
    };

    document.getElementById('result-btn').onclick = function () {
        $("#onLoadModal").modal('hide');
        $("#result-card").css("display", "block");
    };

</script>

{% endblock %}