<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png' %}">
	<link rel="icon" type="image/png" sizes="96x96" href="{% static 'assets/img/favicon.png' %}">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Nutridesk</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/gaia.css' %}" rel="stylesheet"/>

    <!--     Fonts and icons     -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cambo|Poppins:400,600' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'assets/css/fonts/pe-icon-7-stroke.css' %}" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-default navbar-transparent navbar-fixed-top" color-on-scroll="200">
        <!-- if you want to keep the navbar hidden you can add this class to the navbar "navbar-burger"-->
        <div class="container">
            <div class="navbar-header">
                <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar bar1"></span>
                    <span class="icon-bar bar2"></span>
                    <span class="icon-bar bar3"></span>
                </button>
                <a class="navbar-brand">
                    Nutridesk
                </a>
            </div>
            <div class="collapse navbar-collapse">
                {% if not user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right navbar-uppercase">
                    <li>
                        <a href="{% url 'registro' %}">Crear Cuenta</a>
                    </li>
                    <li>
                        <a href="{% url 'ingresar' %}" class="btn btn-danger btn-fill">Iniciar Sesión</a>
                    </li>
                </ul>
                {% else %}
                <ul class="nav navbar-nav navbar-right navbar-uppercase">
                    <li>
                        <a href="{% url 'panel' %}" class="btn btn-danger btn-fill">Ir al panel de control</a>
                    </li>
                    <li>
                        <a href="{% url 'cerrar' %}">Cerrar Sesión</a>
                    </li>
                </ul>
                {% endif %}
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>


    <div class="section section-header">
        <div class="parallax filter"> <!--  div class="parallax filter filter-color-blue"  -->
            <div class="image"
                style="background-image: url({% static 'img/header-bg.jpg' %})">
            </div>
            <div class="container">
                <div class="content">
                    <div class="title-area">
                        <p>Ingeniería de Software</p>
                        <h1 class="title-modern">Nutridesk</h1>
                        <h3>El sistema que cuida de ti.</h3>
                        <div class="separator line-separator">♦</div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="section">
        <div class="container">
            <div class="row">
                <div class="title-area">
                    <h2>¿Qué es Nutridesk?</h2>
                    <div class="separator separator-danger">✻</div>
                    <img src="{% static 'img/nutridesk2.png' %}" class="img-responsive">
                    <p class="description">Es un sistema web de prevención, capaz de proponer planes de alimentación y diagnósticos de posibles problemas cardiovasculares a cualquier persona adulta que lo requiera.</p>
                </div>
            </div>
            <div class="row">
                <div class="title-area">
                    <h2>Nuestros Servicios</h2>
                    <div class="separator separator-danger">✻</div>
                    <p class="description">Nos enfocamos en el cuidado de tu bienestar y tu salud alimenticia, por lo que contamos con los siguientes servicios gratuitos.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-info"></i>
                        <i class="fas fa-heartbeat fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>Diagnósticos</h3>
                    <p class="description">Mediante el uso de herramientas probabilísticas y datasets, determinamos el riesgo que una persona tiene de padecer alguna enfermedad cardiovascular.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-info"></i>
                        <i class="fas fa-utensils fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>Planes de Alimentación</h3>
                    <p class="description">De acuerdo al diagnóstico brindado, se sugerirá un plan de alimentación adecuado para el usuario, personalizado y modificable.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-info"></i>
                        <i class="fas fa-user-clock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>Follow-Up</h3>
                    <p class="description">Se ofrece un seguimiento continuo al progreso que tenga el usuario, actualizando sus datos, diagnósticos y planes de alimentación.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="section section-our-team-freebie">
        <div class="parallax filter filter-color-black">
            <div class="image" style="background-image:url({% static 'img/fondo.jpg' %})">
            </div>
            <div class="container">
                <div class="content">
                    <div class="row">
                        <div class="title-area">
                            <h2>Quiénes somos</h2>
                            <div class="separator separator-danger">✻</div>
                            <p class="description">Estudiantes de la carrera en Sistemas Computacionales de la Escuela Superior de Cómputo con el objetivo de promover el cuidado de la salud alimencicia.</p>
                        </div>
                    </div>

                    <div class="team">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="card card-member">
                                            <div class="content">
                                                <div class="avatar avatar-danger">
                                                    <img alt="..." class="img-circle" src="{% static 'img/equipo/ismael.jpg' %}"/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="title">Ismael Zavala</h3>
                                                    <p class="small-text">CEO</p>
                                                    <p class="description">Estudiante de la ESCOM, desarrollador web encargado del Back-End.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card card-member">
                                            <div class="content">
                                                <div class="avatar avatar-danger">
                                                    <img alt="..." class="img-circle" src="{% static 'img/equipo/samuel.jpg' %}"/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="title">Samuel Miranda</h3>
                                                    <p class="small-text">Diseñador y Co-Fundador</p>
                                                    <p class="description">Estudiante de la ESCOM, desarrollador web encargado del Front-End.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card card-member">
                                            <div class="content">
                                                <div class="avatar avatar-danger">
                                                    <img alt="..." class="img-circle" src="{% static 'img/equipo/uriel.jpg' %}"/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="title">Uriel Cajiga</h3>
                                                    <p class="small-text">Gerente de Marketing</p>
                                                    <p class="description">Estudiante de la ESCOM, encargado de la administración de la página y sus servicios.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="section section-our-clients-freebie">
        <div class="container">
            <div class="title-area">
                <h5 class="subtitle text-gray">Contexto</h5>
                <h2>EN MÉXICO</h2>
                <div class="separator separator-danger">∎</div>
            </div>

            <ul class="nav nav-text" role="tablist">
                <li class="active">
                    <a href="#testimonial1" role="tab" data-toggle="tab">
                        <div class="image-clients">
                            <p class="text-danger text-center">OBESIDAD</p>
                            <img alt="..." class="img-rounded" src="{% static 'img/enMexico/obesidad.jpg' %}"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#testimonial2" role="tab" data-toggle="tab">
                        <div class="image-clients">
                            <p class="text-danger text-center">ENFERMEDADES CARDIOVASCULARES</p>
                            <img alt="..." class="img-rounded" src="{% static 'img/enMexico/corazon.jpeg' %}"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#testimonial3" role="tab" data-toggle="tab">
                        <div class="image-clients">
                            <p class="text-danger text-center">POBREZA</p>
                            <img alt="..." class="img-rounded" src="{% static 'img/enMexico/pobreza.jpg' %}"/>
                        </div>
                    </a>
                </li>
            </ul>


            <div class="tab-content">
                <div class="tab-pane active" id="testimonial1">
                    <p class="description text-justify">
                        Desde hace muchos años México vive una problemática de salud pública muy grave, donde un 39.1%
                        de los adultos mayores de 20 años padecen sobrepeso y un 36.1% obesidad, es decir, 3 de cada 4
                        personas tienen obesidad en el país. En el último año 2019 esta tendencia siguió aumentando hasta
                        casi un 75.2% . (Datos del INEGI y Sector Salud en diciembre de 2019).
                    </p>
                </div>
                <div class="tab-pane" id="testimonial2">
                    <p class="description text-justify"> Las enfermedades cardiovasculares son la principal causa de muerte en el mundo. En México, se registran diaramente
                        al menos 20 facellicimientos por esta causa. Entre las principales enfermedades están la hipertensión, el infarto al miocardio, la enfermedad
                        cerebrovascular y la insuficiencia cardíaca. De acuerdo con datos de la Organización Mundial de la Salud (OMS), de no hacer conciencia
                        sobre este tema, en 2030 casi 23,6 millones de personas morirán al año por alguna enfermedad cardiovascular, principalmente por
                        cardiopatías y accidentes cerebrovasculares.
                    </p>
                </div>
                <div class="tab-pane" id="testimonial3">
                    <p class="description text-justify"> De acuerdo al último registro de la Medición de Pobreza en México realizado por el Coneval en 2018, en el país, cerca de 48.8%
                        de la población sufre pobreza, mientras que el 16.8% sufre pobreza extrema. De esos datos, sólo el 20.4% no tiene acceso a una buena alimentación.
                        Son cifras alarmantes.
                    </p>
                </div>

            </div>

        </div>
    </div>


    <div class="section section-small section-get-started">
        <div class="parallax filter">
            <div class="image"
                style="background-image: url({%static 'assets/img/office-1.jpeg'  %})">
            </div>
            <div class="container">
                <div class="title-area">
                    <h2 class="text-white">¿Quieres saber más?</h2>
                    <div class="separator line-separator">♦</div>
                    <p class="description"> Estamos aquí para atender tus dudas o recibir tus opiniones, quejas o sugerencias.</p>
                </div>

                <div class="button-get-started">
                    <a href="#gaia" class="btn btn-danger btn-fill btn-lg">Contáctanos</a>
                </div>
            </div>
        </div>
    </div>


    <footer class="footer footer-big footer-color-black" data-color="black">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-3">
                    <div class="info">
                        <h5 class="title">Usuarios</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="#">Inicio</a></li>
                                <li>
                                    <a href="register.html">Crear Cuenta</a>
                                </li>
                                <li>
                                    <a href="login.html">Iniciar Sesión</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1 col-sm-3">
                    <div class="info">
                        <h5 class="title">Ayuda y Soporte</h5>
                         <nav>
                            <ul>
                                <li>
                                    <a href="#">Contáctanos</a>
                                </li>
                                <li>
                                    <a href="#">¿Cómo funciona?</a>
                                </li>
                                <li>
                                    <a href="#">Términos y Condiciones</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="info">
                        <h5 class="title">Disclaimer</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-search"></i> <b>Busca la ayuda de profesionales</b> cerca de ti.
                                        <hr class="hr-small">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-user-md"></i> ¡Este sistema es única y exclusivamente para<b> uso auxiliar</b>! No pretende en ningún momento sustituir el labor de un médico.
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-1 col-sm-3">
                    <div class="info">
                        <h5 class="title">Síguenos en</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="#" class="btn btn-social btn-facebook btn-simple">
                                        <i class="fa fa-facebook-square"></i> Facebook
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="btn btn-social btn-dribbble btn-simple">
                                        <i class="fa fa-instagram"></i> Instagram
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="btn btn-social btn-twitter btn-simple">
                                        <i class="fa fa-twitter"></i> Twitter
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="btn btn-social btn-reddit btn-simple">
                                        <i class="fa fa-linkedin"></i> LinkedIn
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <hr>
            <div class="copyright">
                 © <script> document.write(new Date().getFullYear()) </script> Nutridesk, el sistema que cuida de ti
            </div>
        </div>
    </footer>

</body>

<!--   core js files    -->
<script src="{% static 'assets/js/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/bootstrap.js' %}" type="text/javascript"></script>

<!--  js library for devices recognition -->
<script type="text/javascript" src="{% static 'assets/js/modernizr.js' %}"></script>

<!--  script for google maps   -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<!--   file where we handle all the script from the Gaia - Bootstrap Template   -->
<script type="text/javascript" src="{% static 'assets/js/gaia.js' %}"></script>

</html>
