{% extends 'base.html' %}
{% load static %}
{% block title %}Panel de Control{% endblock %}
{% block content %}
<div class="container">
    <header class="jumbotron my-4">
        <h1 class="display-3">Panel de control</h1>
        <p class="lead">
            ¡Que gusto verte de nuevo {{user.first_name}}!
        </p>
        <p>
            <ul>
                <li><a href="{% url 'perfil' id=user.id %}">Perfil</a></li>
                <li><a href="#">Seguimiento</a></li>
                <li><a href="#">Mis planes de alimetación</a></li>
                <li><a href="#">Zona de diagnósticos</a></li>
            </ul>
        </p>
    </header>
</div>
{% endblock %}