{% extends 'base.html' %}
{% load static %}
{% block title %}SMAE{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-justify">
      <h1 class="mt-5">SMAE</h1>
      <p class="lead">Sistema Méxicano de Alimentos Equivalentes</p>
      <p>El Sistema de Equivalentes es un método útil para el diseño de planes de alimentación
        normales, modificados y personalizados; en especial para las personas que necesitan
        controlar la ingestión de nutrimentos para obtener un peso corporal saludable.</p>
      <p>Se basa en el concepto de “Alimento Equivalente”, que es aquella porción (o ración) de
        alimento cuyo aporte nutrimental es similar a los de su mismo grupo en calidad y en cantidad,
        lo que permite que puedan ser intercambiables entre sí. De este modo, por ejemplo, 1
        manzana y 1⁄2 plátano corresponden ambos a 1 equivalente de fruta, y por lo tanto contienen
        el mismo aporte nutricional. Los alimentos equivalentes están calculados con base en el peso
        neto de los alimentos o con base en el peso de los alimentos cocidos.</p>
      <p>Los alimentos equivalentes están divididos en subgrupos a partir del esquema de Grupos
        Alimentarios propuestos por la “NOM-043-SSA2-2005. Servicios básicos de salud.
        Promoción para la salud en materia alimentaria. Criterios para bridar información”. Para cada
        subgrupo de alimentos equivalentes se indica su aporte nutrimental promedio, mostrándonos
        así la cantidad de energía y los gramos de cada macronutrimento (carbohidratos, lípidos y
        proteínas) que aporta 1 equivalente de dicho subgrupo alimentario. En la siguiente página se
        muestra una tabla con el aporte nutrimental promedio de los grupos en el Sistema de
        Equivalentes.</p>
      <p>De esta manera, por ejemplo, las tortillas y los bolillos forman parte del mismo subgrupo
        alimentario, el de los cereales y tubérculos sin grasa. 1 tortilla y 1⁄2
        bolillo, ambos corresponden a 1 equivalente de cereales y tubérculos sin grasa. Por consiguiente, ambos
        contienen el mismo contenido energético aproximadamente (es decir que ambos aportan 70
        kcal, distribuidas en 2 gramos de proteínas y 15 gramos de carbohidratos). En consecuencia,
        es equiparable comer 1 tortilla y 1⁄2 bolillo.</p>
      <p>
        <a href="{% url 'lista_smae' %}" class="btn btn-primary btn-lg">Ver lista de alimentos y sus equivalencias</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}