{% extends "new_base.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}

  {% block title %} Nutri-Desk {% endblock %}
  {% block extra_links %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
  {% endblock %}
</head>

<body>


  {% block links_adicionales%}
  {% if not user.is_authenticated %}
  <li><a href="{% url 'ingresar' %}" class="btn btn-success mx-3">Iniciar Sesión</a></li>
  <li><a href="{% url 'registro' %}" class="btn btn-primary mx-3">Crear Cuenta</a></li>
  {% else %}
  <li><a href="{% url 'panel' %}" class="btn btn-outline-success mx-3">Ir al panel de control</a></li>
  <li><a href="{% url 'cerrar' %}" class="btn btn-danger">Cerrar Sesión</a></li>
  {% endif %}
  {% endblock %}


  {% block hero %}
  <!-- ======= Hero Section ======= -->
  <section class="hero-section" id="hero">

    <div class="wave">

      <svg width="100%" height="355px" viewBox="0 0 1920 355" version="1.1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Apple-TV" transform="translate(0.000000, -402.000000)" fill="#FFFFFF">
            <path
              d="M0,439.134243 C175.04074,464.89273 327.944386,477.771974 458.710937,477.771974 C654.860765,477.771974 870.645295,442.632362 1205.9828,410.192501 C1429.54114,388.565926 1667.54687,411.092417 1920,477.771974 L1920,757 L1017.15166,757 L0,757 L0,439.134243 Z"
              id="Path"></path>
          </g>
        </g>
      </svg>

    </div>

    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 hero-text-image">
          <div class="row">
            <div class="col-lg-8 text-center text-lg-start">
              <h1 data-aos="fade-right">Nutri-Desk</h1>
              <p class="mb-5" data-aos="fade-right" data-aos-delay="100">
                El sistema que cuida de ti.
              </p>
              <p data-aos="fade-right" data-aos-delay="200" data-aos-offset="-500">
                {% if not user.is_authenticated %}
                <a href="{% url 'ingresar' %}" class="btn btn-outline-white">Inicia tu Plan</a>
                {% else %}
                <a href="{% url 'panel' %}" class="btn btn-outline-white">Ver Planes</a>
                {% endif %}
              </p>
            </div>
            <div class="col-lg-4">
              <img src="../static/img/cabezaComida.png" alt="Image" class="img-fluid" data-aos="fade-right"
                data-aos-delay="200">
            </div>
          </div>
        </div>
      </div>
    </div>

  </section><!-- End Hero -->
  {% endblock %}

  {% block section1 %}
  <section class="section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4 me-auto">
          <h2 class="mb-4">¿Qué es Nutri-desk?</h2>
          <p class="mb-4">Es un sistema web de prevención, capaz de proponer planes de alimentación y diagnósticos de
            posibles problemas cardiovasculares a cualquier persona adulta que lo requiera.</p>
        </div>
        <div class="col-md-6" data-aos="fade-left">
          <img src="{% static 'img/nutridesk2.png' %}" alt="Image" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
  {% endblock %}

  {% block section2 %}
  <section class="section">
    <div class="container">

      <div class="row justify-content-center text-center mb-5">
        <div class="col-md-5" data-aos="fade-up">
          <h2 class="section-heading">Nuestros Servicios</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4" data-aos="fade-up" data-aos-delay="">
          <div class="feature-1 text-center">
            <div class="wrap-icon icon-1">
              <i class="bi bi-activity"></i>
            </div>
            <h3 class="mb-3">Diagnósticos</h3>
            <p>Mediante el uso de herramientas probabilísticas y datasets, determinamos el riesgo que una persona tiene
              de padecer alguna enfermedad cardiovascular.</p>
          </div>
        </div>
        <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
          <div class="feature-1 text-center">
            <div class="wrap-icon icon-1">
              <i class='bx bx-food-menu'></i>
            </div>
            <h3 class="mb-3">Planes de Alimentación</h3>
            <p>De acuerdo al diagnóstico brindado, se sugerirá un plan de alimentación adecuado para el usuario,
              personalizado y modificable..</p>
          </div>
        </div>
        <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
          <div class="feature-1 text-center">
            <div class="wrap-icon icon-1">
              <i class="bx bx-user-check"></i>
            </div>
            <h3 class="mb-3">Follow-Up</h3>
            <p>Se ofrece un seguimiento continuo al progreso que tenga el usuario, actualizando sus datos, diagnósticos
              y planes de alimentación.</p>
          </div>
        </div>
      </div>

    </div>
  </section>
  {% endblock %}


  {% block section-testimonial %}
  <section class="section border-top border-bottom">
    <div class="container">
      <div class="row justify-content-center text-center mb-5">
        <div class="col-md-4">
          <h2 class="section-heading">Contexto</h2>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-md-7">

          <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

              <div class="swiper-slide">
                <img style="width: 50%;" src="{% static 'img/enMexico/obesidad.jpg' %}" alt="Image"
                  class="img-fluid rounded-circle">
                <div class="review text-center">
                  <h3>Obesidad</h3>
                  <blockquote>
                    <p>Desde hace muchos años México vive una problemática de salud pública muy grave, donde un 39.1% de
                      los adultos mayores de 20 años padecen sobrepeso y un 36.1% obesidad, es decir, 3 de cada 4
                      personas tienen obesidad en el país. En el último año 2019 esta tendencia siguió aumentando hasta
                      casi un 75.2% . (Datos del INEGI y Sector Salud en diciembre de 2019).</p>
                  </blockquote>
                </div>
              </div><!-- End testimonial item -->

              <div class="swiper-slide">
                <img style="width: 30%;" src="{% static 'img/enMexico/corazon.jpeg' %}" alt="Image" class="img-fluid">
                <div class="review text-center">
                  <h3>Enfermedades Cardiovasculares</h3>
                  <blockquote>
                    <p>Las enfermedades cardiovasculares son la principal causa de muerte en el mundo. En México, se
                      registran diaramente al menos 20 facellicimientos por esta causa. Entre las principales
                      enfermedades están la hipertensión, el infarto al miocardio, la enfermedad
                      cerebrovascular y la insuficiencia cardíaca. De acuerdo con datos de la Organización Mundial de la
                      Salud (OMS), de no hacer conciencia sobre este tema, en 2030 casi 23,6 millones de personas
                      morirán al año por alguna enfermedad cardiovascular, principalmente por
                      cardiopatías y accidentes cerebrovasculares.</p>
                  </blockquote>
                </div>
              </div><!-- End testimonial item -->

              <div class="swiper-slide">
                <img src="{% static 'img/enMexico/pobreza.jpg' %}" alt="Image" class="img-fluid">
                <div class="review text-center">
                  <h3>Pobreza</h3>
                  <blockquote>
                    <p>De acuerdo al último registro de la Medición de Pobreza en México realizado por el Coneval en
                      2018, en el país, cerca de 48.8%
                      de la población sufre pobreza, mientras que el 16.8% sufre pobreza extrema. De esos datos, sólo el
                      20.4% no tiene acceso a una buena alimentación.
                      Son cifras alarmantes.</p>
                  </blockquote>
                </div>
              </div><!-- End testimonial item -->

            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}

  {% block section-presentation %}
  <section class="section">

    <div class="container">

      <div class="row justify-content-center text-center mb-5">
        <div class="col-md-4">
          <h2 class="section-heading">¿Quiénes somos?</h2>
          <p> Estudiantes de la carrera en Sistemas Computacionales de la Escuela Superior de Cómputo con el objetivo de
            promover el cuidado de la salud alimencicia. </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="step">
            <img src="{% static 'img/equipo/ismael.jpg' %}">
            <h3>Ismael Zavala</h3>
            <p>Estudiante de la ESCOM, desarrollador web encargado del Back-End.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="step">
            <img src="{% static 'img/equipo/hadad.jpg' %}">
            <h3>Hadad Bautista</h3>
            <p>Estudiante de la ESCOM, encargado de la administración de la página y sus servicios.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="step">
            <img src="{% static 'img/equipo/sam.jpg' %}">
            <h3>Samuel Jurado</h3>
            <p>Estudiante de la ESCOM, desarrollador web encargado del Front-End.</p>
          </div>
        </div>
      </div>
    </div>

  </section>
  {% endblock %}

  {% block section-contact %}
  <section class="section cta-section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 me-auto text-center text-md-start mb-5 mb-md-0">
          <h2>¿Quieres saber más?</h2>
          <p>Estamos aquí para atender tus dudas o recibir tus opiniones, quejas o sugerencias.</p>
        </div>
        <div class="col-md-5 text-center text-md-end">
          <p><a href="#" class="btn btn-primary btn-lg">Contáctanos</a></p>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}


</body>



</html>