{% extends 'planner_base.html' %}

{% block title %} Panel de control {% endblock %}
{% load static %}

{% block extra_links %}

<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">


{% endblock %}

{% block active-resumen %} active-div {% endblock %}

{% block section1 %}

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Resumen</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
        class="fas fa-download fa-sm text-white-50"></i> Generar Reporte</a>
  </div>

  <!-- Content Row -->
  <div class="row">

    <!-- Peso Card Example -->
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Tu peso</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{infoUser.peso}} Kg</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-weight fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Altura Card Example -->
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Tu Talla</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">69 cm</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-arrows-alt-v fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- IMC Card Example -->
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Índice de Masa Corporal</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800" id="txtIMC">

                <script>
                  var peso = {{ infoUser.peso }};
                  var altura = {{ infoUser.altura }};
                  var imc = (peso / Math.pow(altura / 100, 2));

                  var txtIMC = document.getElementById("txtIMC");
                  txtIMC.innerHTML = imc.toPrecision(3);
                </script>
              </div>
              <span class="mr-2 d-none d-lg-inline text-gray-600 small" id="txtMsjIMC">
                <script>
                  var msj = indice_masa_corporal(imc);
                  var txtMsjIMC = document.getElementById("txtMsjIMC");
                  txtMsjIMC.innerHTML = msj;
                </script>
              </span>
            </div>
            <div class="col-auto">
              <i class="fas fa-child fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Row -->

  <div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Progreso de tu talla</h6>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Opciones:</div>
              <a class="dropdown-item" href="#">Año corriente</a>
              <a class="dropdown-item" href="#">Último año</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Todo el historial</a>
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-area">
            <canvas id="myChart"></canvas>
          </div>
        </div>
      </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Alimentos por Grupo</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-pie pt-4 pb-2">
            <canvas id="pie-chart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Row -->
  <div class="row">

    <!-- Content Column -->
    <div class="col-lg-6 mb-4">

      <!-- Project Card Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Projects</h6>
        </div>
        <div class="card-body">
          <h4 class="small font-weight-bold">Server Migration <span class="float-right">20%</span></h4>
          <div class="progress mb-4">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <h4 class="small font-weight-bold">Sales Tracking <span class="float-right">40%</span></h4>
          <div class="progress mb-4">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <h4 class="small font-weight-bold">Customer Database <span class="float-right">60%</span></h4>
          <div class="progress mb-4">
            <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <h4 class="small font-weight-bold">Payout Details <span class="float-right">80%</span></h4>
          <div class="progress mb-4">
            <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <h4 class="small font-weight-bold">Account Setup <span class="float-right">Complete!</span></h4>
          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 mb-4">

    
    <form method="post">
    {% csrf_token %}
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Recordatorios</h6>
        </div>
        <div class="card-body">
          <h6> Hoy es: {{ fecha | date:"l j F Y "}} </h6>
          {% if plan_hoy == None %}
          <div class="bg-warning d-flex justify-content-center rounded text-dark">No tienes Planes asignados para hoy</div>
          {% else %}
          <a href="{% url 'planes' %}">
          <div class="bg-success d-flex justify-content-center rounded text-white">  Plan asignado para hoy: {{ plan_hoy.descripcion }} </div>
          </a>
          {% endif %}
          <hr>

          {% if existe_bitacora_hoy == false %}
          <h6>Encuesta Diaria</h6>
          <div class="d-flex flex-wrap justify-content-between">
            <div>
              <p>¿Como te sientes hoy?</p>
            </div>
            <div class="btn-group" data-toggle="buttons">

              <input type="radio" class="btn-check" name="sentimientos" id="deprimido" autocomplete="off" value="0">
              <label class="btn btn-outline-danger radio-btn" for="deprimido"><i class="fas fa-sad-tear"></i></label>
  
              <input type="radio" class="btn-check" name="sentimientos" id="triste" autocomplete="off" value="1">
              <label class="btn btn-outline-warning radio-btn" for="triste"><i class="fas fa-frown"></i></label>
  
              <input type="radio" class="btn-check" name="sentimientos" id="neutral" autocomplete="off" checked value="2">
              <label class="btn btn-outline-secondary radio-btn" for="neutral"><i class="fas fa-meh"></i></label>
  
              <input type="radio" class="btn-check" name="sentimientos" id="feliz" autocomplete="off" value="3">
              <label class="btn btn-outline-info radio-btn" for="feliz"><i class="fas fa-smile"></i></label>
  
              <input type="radio" class="btn-check" name="sentimientos" id="pleno" autocomplete="off" value="4">
              <label class="btn btn-outline-success radio-btn" for="pleno"><i class="fas fa-grin"></i></label>
            </div>
          </div>
        
          <div class="d-flex flex-wrap justify-content-between mt-2">
            <div class="me-5">
              <p>Hábitos de Hoy</p>
            </div>
            <div class="btn-group ms-5" data-toggle="buttons">

              <input type="checkbox" class="btn-check" name="agua" id="agua" autocomplete="off">
              <label class="btn btn-outline-info radio-btn" for="agua"><i class="fas fa-tint"></i></label>
  
              <input type="checkbox" class="btn-check"  name="run" id="run" autocomplete="off">
              <label class="btn btn-outline-warning radio-btn" for="run"><i class="fas fa-running"></i></label>
  
              <input type="checkbox" class="btn-check" name="manzana" id="manzana" autocomplete="off">
              <label class="btn btn-outline-success radio-btn" for="manzana"><i class="fas fa-apple-alt"></i></label>
  
              <input type="checkbox" class="btn-check" name="cama" id="cama" autocomplete="off">
              <label class="btn btn-outline-secondary radio-btn" for="cama"><i class="fas fa-bed"></i></label>

            </div>
          </div>

          <div class="d-flex justify-content-end mt-4">
            <div class="me-5">
              <p>Comentario del día</p>
            </div>
            <textarea class="form-control me-2" name="txtComentario" aria-label="With textarea" maxlength="200"></textarea>
            <button type="submit" class="btn btn-primary">Registrar respuesta</button>
          </div>
          {% else %}
          ¡Eso es todo por hoy, haz terminado con tu encuesta diaria!
          {% endif %}
        </div>
      </div>
    </form>


      <!-- Approach -->
      <div class="col-12 mb-4">

        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Información Adicional</h6>
          </div>
          <div class="card-body">
            <p class="text-justify">Desde hace muchos años México vive una problemática de salud pública muy grave,
              donde
              un 39.1% de los adultos mayores de 20 años padecen sobrepeso y un 36.1% obesidad, es decir, 3 de cada 4
              personas tienen obesidad en el país.
              En el último año 2019 esta tendencia siguió aumentando hasta casi un 75.2% . (Datos del INEGI y Sector
              Salud
              en diciembre de 2019).</p>
            <p class=" text-justify mb-0">Nuestro objetivo siempre será reducir esa cifra, ayudando a todo aquel que
              esté
              dispuesto a recibir nuestro apoyo.</p>
          </div>
        </div>

      </div>

    </div>
  </div>
  <!-- /.container-fluid -->

  {% endblock %}

  {% block extra-scripts %}

  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>

  <script>
    const labels = {{ labels| safe}};

    const data = {
      labels: labels,
      datasets: [{
        label: 'Peso en kgs',
        backgroundColor: 'rgb(255, 99, 132)',
        borderColor: 'rgb(255, 99, 132)',
        data: {{ data| safe}}
      }]
  };

    const config = {
      type: 'line',
      data: data,
      options: {}
    };

    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );

    const pie_data = {
      labels: [
        'Cereales y Tubérculos',
        'Verduras',
        'Frutas',
        'Origen Animal',
        'Leche',
        'Leguminosas',
        'Grasas',
        'Azucares',
        'Libres en Energía'
      ],
      datasets: [{
        label: 'My First Dataset',
        data: [{{ cereales }}, {{ verduras }}, {{ frutas }}, {{ animal }}, {{ leche }}, {{ leguminosas }}, {{ grasas }}, {{ azucar }}, {{ libre }} ],
        backgroundColor: [
        '#ffe5d0',
        '#d1e7dd',
        '#fecba1',
        '#f8d7da',
        '#cff4fc',
        '#ca6510',
        '#fff3cd',
        '#efadce',
        '#c5b3e6'
        ],
        hoverOffset: 4
      }]
    };

    const pie_config = {
      type: 'doughnut',
      data: pie_data,
    };

    const pie_chart = new Chart(
      document.getElementById('pie-chart'),
      pie_config
    );
  </script>


  {% endblock %}