{% extends 'new_base.html' %}

{% load static %}

{% block title %}Registro{% endblock %}

{% block hero %}
<section class="hero-section inner-page">
  <div class="wave">

    <svg width="1920px" height="265px" viewBox="0 0 1920 265" version="1.1" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Apple-TV" transform="translate(0.000000, -402.000000)" fill="#FFFFFF">
          <path
            d="M0,439.134243 C175.04074,464.89273 327.944386,477.771974 458.710937,477.771974 C654.860765,477.771974 870.645295,442.632362 1205.9828,410.192501 C1429.54114,388.565926 1667.54687,411.092417 1920,477.771974 L1920,667 L1017.15166,667 L0,667 L0,439.134243 Z"
            id="Path"></path>
        </g>
      </g>
    </svg>

  </div>

  <div class="container">
    <div class="row align-items-center">
      <div class="col-12">
        <div class="row justify-content-center">
          <div class="col-md-7 text-center hero-text">
            <h1 data-aos="fade-up" data-aos-delay="">Comienza a planear</h1>
            <p class="mb-5" data-aos="fade-up" data-aos-delay="100">Registrate con nosotros para acceder a nuestros
              servicios</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
{% endblock %}

{% block section1 %}

<body class="bg-gradient-primary">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body">
        <!-- Nested Row within Card Body -->
        <div class="row align-items-center">
          <div class="text-center mt-4">
            <h1 class="h4 text-gray-900">Regístrate</h1>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-lg-5 d-none d-lg-block text-center align-middle">
            <img src="{% static 'img/registro.jpg' %}" class="img-fluid rounded-3" data-aos="fade-right"
              data-aos-delay="200">
          </div>
          <div class="col-lg-7">
            <div class="p-5">

              <form class="user" method="POST">
                {% csrf_token %}
                {% for field in user_form %}
                <div class="form-group">
                  {{ field.label_tag }}
                  {{ field }}
                  {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                  {% endfor %}
                </div>
                {% endfor %}
                {% for field in info_form %}
                <div class="form-group">
                  {{ field.label_tag }}
                  {{ field }}
                  {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                  {% endfor %}
                </div>
                {% endfor %}

                <div class="form-group">
                  <label class="checkbox-inline">
                    <input type="checkbox" required="required" />
                    <span> Acepto los
                      <a href="#">Términos de uso</a> y la <a href="#">Política de privacidad</a>.</label>
                  </span>
                </div>

                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-user btn-block">Registrarme</button>
                </div>

              </form>
              <hr>
              <div class="text-center">
                <a class="small" href="forgot-password.html">¿Olvidaste tu contraseña?</a>
              </div>
              <div class="text-center">
                <a class="small" href="/ingresar">¿Ya tienes una cuenta? Inicia sesión</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}