{% extends 'base.html' %}
{% load static %}
{% block title %}Plan de alimentación{% endblock %}
{% block content %}
<h1>Vista de generacion de plan de alimentacion</h1>

<table border="1px">
    <tr>
        <td>Peso:</td>
        <td>{{infoUser.peso}}</td>
    </tr>
    <tr>
        <td>Altura:</td>
        <td>{{infoUser.altura}}</td>
    </tr>
    <tr>
        <td>Edad:</td>
        <td>{{edad}}</td>
    </tr>
    <tr>
        <td>Sexo:</td>
        <td>{{infoUser.sexo}}</td>
    </tr>
    <tr>
        <td>Objetivo:</td>
        <td>
            <select id="txtObjetivo">
                <option>Mantener peso</option>
                <option>Bajar de peso</option>
                <option>Subir de peso</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Actividad Fisica:</td>
        <td>
            <select id="txtActividadFisica">
                <option>No hace nada de ejercicio</option>
                <option>Ejercicio ligero dos días por semana</option>
                <option>Ejercicio moderado, unos cuatro días por semana</option>
                <option>Deporte regular seis días a la semana</option>
                <option>Deportista de élite o entrena muy intenso cada día</option>
            </select>
        </td>
    </tr>
    <tr>
        <td colspan="2"><button onclick="calcular_requisitos()">Calcular requerimientos</button></td>
    </tr>
    <tr>
        <td>IMC: <a href="#">?</a></td>
        <td>
            <label id='txtIMC'></label>
            <br/>
            <label id="txtMsjIMC"/></label>
        </td>
    </tr>
    <tr>
        <td>TMB: <a href="#">?</a></td>
        <td>
            <label id='txtTMB'></label> Kcal
        </td>
    </tr>
</table>
<br/>
<br/>
<table border="1px">
    <tr>
        <th>Desayuno</th>
        <th>Colación</th>
        <th>Comida</th>
        <th>Colación</th>
        <th>Cena</th>
    </tr>
    <tr id="txtColaciones"> 
    </tr>
</table>
<a href="{% url 'planes' %}"><- Regresar a la lista de planes</a>
{% endblock %}
{% block script %}
<script>
    function calcular_requisitos() {
        var peso = {{infoUser.peso}};
        var altura = {{infoUser.altura}};
        var sexo = '{{infoUser.sexo}}';
        var edad = {{edad}};
        var imc = (peso/Math.pow(altura/100,2));
        var objetivo = document.getElementById("txtObjetivo").selectedIndex;
        var actividad = document.getElementById("txtActividadFisica").selectedIndex;

        var txt_imc = document.getElementById("txtIMC");
        var txt_msj_imc = document.getElementById("txtMsjIMC");
        var txt_tmb = document.getElementById("txtTMB");

        txt_imc.innerHTML = imc.toPrecision(4);
        txt_msj_imc.innerHTML = indice_masa_corporal(imc);
        var tmb = tasa_metabolica_basal(sexo, edad, peso, altura, objetivo, actividad);
        txt_tmb.innerHTML = tmb;
        mostrar_plan(tmb);
    }

    function indice_masa_corporal(imc) {
        //fuente
        //https://www.seedo.es/index.php/pacientes/calculo-imc
        if (imc < 18.5){
            return "Peso insuficiente";
        } else if (imc < 25){
            return "Peso normal";
        } else if (imc < 27) {
            return "Sobrepeso grado I";
        } else if (imc < 30) {
            return "Sobrepeso grado II (preobesidad)";
        } else if (imc < 35) {
            return "Obesidad de tipo I";
        } else if (imc < 40) {
            return "Obesidad de tipo II";
        } else if (imc < 50) {
            return "Obesidad de tipo III (mórbida)";
        } else if (imc >= 50) {
            return "Obesidad de tipo IV (extrema)";
        }
    }

    function tasa_metabolica_basal(sexo, edad, peso, altura, meta, actividad_fisica){
        //fuente
        //https://www.axahealthkeeper.com/blog/calculo-de-calorias-diarias-cuantas-calorias-debo-consumir-al-dia/
        //https://www.axahealthkeeper.com/blog/que-es-y-como-calcular-la-tasa-metabolica-basal/
        var tmb = 0;
        switch(sexo) {
            case 'H'://si es hombre
                tmb = (10 * peso) + (6.5 * altura) - (5 * edad) - 161;
                break;
            case 'M':// si es mujer
                tmb = (10 * peso) + (6.5 * altura) - (5 * edad) + 5;
                break;
            default:
                tmb = -1;
        }

        switch(actividad_fisica) {
            case 0://nada de ejercicio
                tmb *= 1.2;
                break;
            case 1://ejercicio ligero dos días por semana
                tmb *= 1.375;
                break;
            case 2://ejercicio moderado, unos cuatro días por semana
                tmb *= 1.55;
                break;
            case 3://deporte regular seis días a la semana
                tmb *= 1.725;
                break;
            default://deportista de élite
                tmb *= 1.9;
        }

        switch(meta) {
            case 0:
                tmb *= 1;
                break;
            case 1:
                tmb *= 0.75; // 15%-20%
                break;
            default:
                tmb *= 1.15;
        }
        return tmb;
    }

    function mostrar_plan(tmb) {
        var dict_alimentos = get_alimentos_dict();
        var plan = get_plan(tmb);
        var tabla_plan = document.getElementById("txtColaciones");
        tabla_plan.innerHTML = construir_colacion(plan[0],dict_alimentos); //desayuno
        tabla_plan.innerHTML += construir_colacion(plan[1],dict_alimentos); //colacion1
        tabla_plan.innerHTML += construir_colacion(plan[2],dict_alimentos); //comida
        tabla_plan.innerHTML += construir_colacion(plan[3],dict_alimentos); //colacon2
        tabla_plan.innerHTML += construir_colacion(plan[4],dict_alimentos); //cena
    }

    function get_alimentos_dict() {
        var alimentos = {};
        {%for grupo in listaGrupos%}
            alimentos["{{grupo.nombre}}"] = [];
        {% endfor %}
        {%for alimento in listaAlimentos%}
            alimentos["{{alimento.idGrupo.nombre}}"].push("{{alimento.nombre}}");
        {% endfor %}
        return alimentos;
    }

    function get_plan(kcal) {
        /* [[desayuno],[colacion1],[comida],[colacion2],[cena]]
        [CEREALES Y TUBÉRCULOS,VERDURAS,FRUTAS,ALIMENTOS DE ORIGEN ANIMAL,LECHE Y SUSTITUTOS,
        LEGUMINOSAS,GRASAS,AZÚCARES,ALIMENTOS LIBRES DE ENERGÍA]*/
        if(kcal < 1000) {
            return [[1,1,1,1,1,0,1,0,0],[0,0,0,0,0,0,0,0,0],[2,2,1,1,1,0,1,0,0],[0,0,0,0,1,0,0,0,0],[1,1,1,0,0,0,0,0,1]];
        } else if (kcal < 1200) {
            return [[2,1,1,0,0,0,1,0,1],[1,0,0,0,1,0,0,0,0],[2,2,1,2,1,0,1,0,0],[0,1,0,0,1,0,0,0,0],[1,1,0,0,1,0,0,0,0]];
        } else if (kcal < 1400) {
            return [[2,1,1,1,1,0,1,0,0],[0,0,1,0,1,0,0,0,0],[2,2,0,2,0,0,1,0,0],[1,0,0,0,1,0,0,0,0],[1,1,1,1,1,0,0,0,0]];
        } else if (kcal < 1600) {
            return [[2,2,1,0,1,0,1,0,0],[0,1,0,1,0,0,0,0,0],[2,2,1,2,1,0,1,0,0],[1,0,1,0,0,0,0,0,0],[1,2,1,1,0,0,0,0,1]];
        } else if (kcal < 1800) {
            return [[3,1,2,1,1,0,1,0,0],[1,1,0,0,0,0,0,0,0],[2,2,1,2,1,0,1,0,0],[1,0,0,0,1,0,0,0,0],[1,2,1,1,0,0,0,0,1]];
        } else if (kcal < 2000) {
            return [[3,1,2,2,1,0,1,0,0],[1,1,0,0,0,0,0,0,0],[2,2,1,2,1,0,1,0,1],[1,0,1,0,0,0,0,0,0],[1,2,1,1,1,0,0,0,0]];
        }
    }

    function construir_colacion(plan,dic) {
        var llave_alimentos = ["Cereales y tubérculos", "Verduras","Frutas","Alimentos de origen animal",
        "Leche", "Leguminosas", "Grasas", "Azúcares", "Alimentos libres en energía"];
        var html_code = "<td>";
        for(var i=0; i<plan.length;i++) {//[]
            for(var j=0; j<plan[i];j++) {//n
                html_code += "<select id='#'>"
                for(var k=0; k<dic[llave_alimentos[i]].length;k++) {
                    html_code += "<option>" + dic[llave_alimentos[i]][k] + "</option>"
                }
                html_code += "</select><br/>";
            }
        }
        html_code += "</td>";
        return html_code;
    }
</script>
{% endblock %}