{% extends 'base_navbar.html' %}
{% block title %}Planes{% endblock %}
{% load static %}
{% block main_content %}

<div class="container">
    <div class="row">
        Nombre del plan: {{plan.descripcion}}
        <br/>
        Aporte calorico: {{plan.calorias}}
        <table border="1px">
            <tr>
                <th>Desyuno</th>
                <th>Colacion 1</th>
                <th>Comida</th>
                <th>Colacion 2</th>
                <th>Cena</th>
            </tr>
            <tr>
                {% for tipo_comida in tipos_comidas reversed %}
                <td>
                    {% for colacion in colaciones %}
                        {% if colacion.idTipoComida.idTipoComida == tipo_comida.idTipoComida %}
                            {{colacion.idAlimento.nombre}} - {{colacion.idAlimento.racion}} <br/>
                        {% endif %}
                    {% endfor%}
                </td>
                {% endfor%}
            </tr>
        </table>
        <a href="{% url 'planes' %}"><- Regresar a la lista de planes</a>
    </div>
</div>
{% endblock %}