{% extends 'planner_base.html' %}

{% block title %} Nutridesk | Planes {% endblock %}

{% load static %}

{% block extra_links %}

<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

{% endblock %}

{% block active-planes %} active-div {% endblock %}

{% block section1 %}


<body>
  <!-- ------- COMIENZO DE MODAL1 ------- -->
  <div id="modal1" class="modal fade" tabindex="-1" aria-labelledby="modal1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <!-- Page Heading -->
        <div class="modal-header">
          <h1 class="h3 mb-2 text-gray-800">Generación de Plan de Alimentación</h1>
        </div>
        <div class="modal-body">
          <p class="mb-4 text-justify">
            De acuerdo a tus características físicas actuales, se te recomendará un
            plan de alimentación acorde a tus necesidades. En la siguiente tabla, se
            describen los alimentos y su aporte calórico, según sea el enfoque que
            desees. Es importante que sigas estrictamente estas indicaciones para
            lograr realizar un avance en el proceso y auxiliarte con un profesional
            de la salud.
          </p>

          <div class="form-group row">
            <div class="col-sm-3 align-self-center">
              <label class="text-primary">Peso: {{infoUser.peso}} KG</label>
            </div>
            <div class="col-sm-3 align-self-center">
              <label class="text-primary">Altura: {{infoUser.altura}} CM</label>
            </div>
            <div class="col-sm-3 align-self-center">
              <label class="text-primary">Edad: {{edad|stringformat:".1f"}} Años</label>
            </div>
            <div class="col-sm-3 align-self-center">
              <label class="text-primary">Sexo: {% if infoUser.sexo == 'H'%} Hombre {% else %} Mujer {%endif%}</label>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-4 align-self-center">
              <label for="txtObjetivo" class="text-primary">¿Cuál es su Objetivo?</label>
              <select class="form-control" id="txtObjetivo">
                <option>Mantener Peso</option>
                <option>Subir Peso</option>
                <option>Bajar Peso</option>
              </select>
            </div>
            <div class="col-sm-4 align-self-center">
              <label for="txtActividadFisica" class="text-primary">¿Realiza actividad física?</label>
              <select class="form-control" id="txtActividadFisica">
                <option>No hace nada de ejercicio</option>
                <option>Ejercicio ligero dos días por semana</option>
                <option>Ejercicio moderado, unos cuatro días por semana</option>
                <option>Deporte regular seis días a la semana</option>
                <option>Deportista de élite o entrena muy intenso cada día</option>
              </select>
            </div>

          </div>

          <form method="POST">
            {% csrf_token %}

            <div class="form-group row my-2">
              <div class="col-sm-4 align-self-center">
                <label for="txtNombrePlan" class="text-primary">Nombre del Plan</label>
                <input type="text" class="form-control form-control-user" name="txtNombrePlan" id="txtNombrePlan"
                  placeholder="Ingrese un nombre" required />
              </div>

              <div class="col-sm-4 align-self-center">
                <label for="txtAporteCalorico" class="text-primary">Aporte Calórico</label>
                <input type="text" class="form-control form-control-user" name="txtAporteCalorico"
                  id="txtAporteCalorico" placeholder="Kcal" required readonly />
              </div>
            </div>

            <div class="form-group row my-2">
              <div class="col-sm-4 align-self-center">
                <label class="text-primary">IMC:</label>
                <label id="txtIMC" class="text-primary">_</label>
                <label id="txtMsjIMC">_</label>
              </div>

              <div class="col-sm-4 align-self-center">
                <label class="text-primary">TMB:</label>
                <label id="txtTMB" class="text-primary">_</label> Kcal
              </div>
            </div>

            <div class="row my-2">
              <div class="col-sm-4 align-self-center center-align" id="div-cargadorBoton">
                <div class="spinner-border text-primary" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
                <p>Cargando alimentos...</p>
  
              </div>
            </div>

            <div class="d-flex flex-row justify-content-between flex-wrap">
              <div><span class="badge bg-cereales text-dark">Cereales y Tubérculos</span></div>
              <div><span class="badge bg-verduras text-dark">Verduras</span></div>
              <div> <span class="badge bg-frutas text-dark">Frutas</span></div>
              <div> <span class="badge bg-animal text-dark">Origen Animal</span></div>
              <div><span class="badge bg-leche text-dark">Leche</span></div>
              <div><span class="badge bg-leguminosas text-dark">Leguminosas</span></div>
              <div><span class="badge bg-grasas text-dark">Grasas</span></div>
              <div><span class="badge bg-azucares text-dark">Azucares</span></div>
              <div><span class="badge bg-libre text-dark">Libres en Energía</span></div>
            </div>

            <!-- ------- NEW MENU TEST ------- -->
            <div class="card my-4">
              <div class="card-header py-2">
                <h6>Nuevo Plan</h6>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="d-flex flex-column col col-lg-4 col-md-6 col-sm-12 col-12 mb-2">
                    <div>
                      <i class="fas fa-sun inline-icon" aria-hidden="true"></i>
                      <h6 class="inline-icon">Desayuno</h6>
                    </div>
                    <hr>
                    <div class="d-flex flex-column select-column mb-2">
                    </div>
                  </div>
                  <div class="d-flex flex-column col col-lg-4 col-md-6 col-sm-12 col-12 mb-2">
                    <div>
                      <i class="fas fa-utensils inline-icon" aria-hidden="true"></i>
                      <h6 class="inline-icon">Colación 1</h6>
                    </div>
                    <hr>
                    <div class="d-flex flex-column select-column mb-2">
                    </div>
                  </div>
                  <div class="d-flex flex-column col col-lg-4 col-md-6 col-sm-12 col-12 mb-2">
                    <div>
                      <i class="far fa-sun inline-icon" aria-hidden="true"></i>
                      <h6 class="inline-icon">Comida</h6>
                    </div>
                    <hr>
                    <div class="d-flex flex-column select-column mb-2">
                    </div>
                  </div>
                  <div class="d-flex flex-column col col-lg-4 col-md-6 col-sm-12 col-12 mb-2">
                    <div>
                      <i class="fas fa-utensils inline-icon" aria-hidden="true"></i>
                      <h6 class="inline-icon">Colación 2</h6>
                    </div>
                    <hr>
                    <div class="d-flex flex-column select-column mb-2">
                    </div>
                  </div>
                  <div class="d-flex flex-column col col-lg-4 col-md-6 col-sm-12 col-12 mb-2">
                    <div>
                      <i class="fas fa-moon inline-icon" aria-hidden="true"></i>
                      <h6 class="inline-icon">Cena</h6>
                    </div>
                    <hr>
                    <div class="d-flex flex-column select-column mb-2">
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" class="align-middle btn btn-primary">
                  Guardar Nuevo Plan
                </button>
              </div>
            </div>
            <!-- ------- NEW MENU TEST ------- -->
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- ------- FIN DE MODAL 1 ------- -->

  <!-- ------- INICIO MODAL VER HADAD ------- -->

  <div class="modal fade" id="modalVer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body tablasAlimentoContainer">
          <!-- ------- TABS ------- -->
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="desayuno-tab" data-bs-toggle="tab" data-bs-target="#desayuno" type="button"
                role="tab" aria-controls="desayuno" aria-selected="true">Desyuno</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="colacion1-tab" data-bs-toggle="tab" data-bs-target="#colacion1" type="button"
                role="tab" aria-controls="colacion1" aria-selected="false">Colación 1</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="comida-tab" data-bs-toggle="tab" data-bs-target="#comida" type="button"
                role="tab" aria-controls="comida" aria-selected="false">Comida</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="colacion2-tab" data-bs-toggle="tab" data-bs-target="#colacion2" type="button"
                role="tab" aria-controls="colacion2" aria-selected="false">Colacion2</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="cena-tab" data-bs-toggle="tab" data-bs-target="#cena" type="button"
                role="tab" aria-controls="cena" aria-selected="false">Cena</button>
            </li>
          </ul>
          <!-- ------- TABS ------- -->

          <!-- ======= TAB CONTENT ======= -->
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active container" id="desayuno" role="tabpanel" aria-labelledby="desayuno-tab">
              <table class="table table-hover table-striped table-borderless my-2">
                <thead class="bg-primary">
                  <th scope="col">Alimento</th>
                  <th scope="col">Tipo de Alimento</th>
                  <th scope="col">Porción</th>
                </thead>
                <tbody id="desayuno-table"></tbody>
              </table>
            </div>
            <div class="tab-pane fade container" id="colacion1" role="tabpanel" aria-labelledby="colacion1-tab">
              <table class="table table-hover table-striped table-borderless my-2">
                <thead class="bg-primary">
                  <th scope="col">Alimento</th>
                  <th scope="col">Tipo de Alimento</th>
                  <th scope="col">Porción</th>
                </thead>
                <tbody id="colacion1-table"></tbody>
              </table>
            </div>
            <div class="tab-pane fade container" id="comida" role="tabpanel" aria-labelledby="comida-tab">
              <table class="table table-hover table-striped table-borderless my-2">
                <thead class="bg-primary">
                  <th scope="col">Alimento</th>
                  <th scope="col">Tipo de Alimento</th>
                  <th scope="col">Porción</th>
                </thead>
                <tbody id="comida-table"></tbody>
              </table>
            </div>
            <div class="tab-pane fade container" id="colacion2" role="tabpanel" aria-labelledby="colacion2-tab">
              <table class="table table-hover table-striped table-borderless my-2">
                <thead class="bg-primary">
                  <th scope="col">Alimento</th>
                  <th scope="col">Tipo de Alimento</th>
                  <th scope="col">Porción</th>
                </thead>
                <tbody id="colacion2-table"></tbody>
              </table>
            </div>
            <div class="tab-pane fade container" id="cena" role="tabpanel" aria-labelledby="cena-tab">
              <table class="table table-hover table-striped table-borderless my-2">
                <thead class="bg-primary">
                  <th scope="col">Alimento</th>
                  <th scope="col">Tipo de Alimento</th>
                  <th scope="col">Porción</th>
                </thead>
                <tbody id="cena-table"></tbody>
              </table>
            </div>
          </div>
          <!-- ======= END TAB CONTENT ======= -->
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <p>Recordar:</p>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="lunes" value="lunes">
            <label class="form-check-label" for="lunes">Lunes</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="martes" value="martes">
            <label class="form-check-label" for="martes">Martes</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="miercoles" value="miercoles">
            <label class="form-check-label" for="miercoles">Miércoles</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="jueves" value="jueves">
            <label class="form-check-label" for="jueves">Jueves</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="viernes" value="viernes">
            <label class="form-check-label" for="viernes">Viernes</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="sabado" value="sabado">
            <label class="form-check-label" for="sabado">Sábado</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="domingo" value="domingo">
            <label class="form-check-label" for="domingo">Domingo</label>
          </div>
          <button class="btn btn-small btn-primary" type="submit">Guardar</button>
        </div>
      </div>
    </div>
  </div>



  <!-- ------- FIN MODAL VER------- -->



  <!-- ------- INICIO DE TABLA DE PLANES ------- -->
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-6">
        <h1>Planes de Alimentación</h1>
      </div>
      <div class="col-lg-2 justify-content-end">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal1">
          Nuevo plan
        </button>
      </div>
    </div>
    <div class="card my-2">
      <div class="row">
        <div class="col s12 center">
          <table class="table table-hover table-striped table-borderless" id="mitabla">
            <thead class="bg-primary rounded-2">
              <tr>
                <th class="headNombre" scope="col">Nombre</th>
                <th class="headAporte" scope="col">Aporte calórico (Kcals)</th>
                <th class="headAccion" scope="col">Acción</th>
              </tr>
            </thead>
            <tbody id="cargadorU">
              {% for plan in lista_planes %}
              {% if plan.idUsuario.username == user.username%}
              <tr name="plan">
                <th scope="row" style="display: none;">{{ plan.idPlan }}</th>
                <td>{{ plan.descripcion }}</td>
                <td class="aporte">{{ plan.calorias }}</td>
                <td class="accion">
                  <i class="fas fa-trash-alt deleteButton mx-2"></i>
                  <i class="fas fa-eye seeButton mx-2"></i>
                  <div class="spinner-border spinner-border-sm text-primary mx-2" role="status" style="display: none;">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </td>
              </tr>
              {% endif %}
              {% endfor %}
          </table>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row justify-content-end">
      <button type="button" class="btn btn-primary btn-sm nav-button d-flex justify-content-center align-items-center"
        id="leftArrow">
        <i class="fas fa-backward" aria-hidden="true"></i>
      </button>
      <div class="noPage">
        <i class="texto" id="noPage"> 1 </i>
      </div>
      <button type="button" class="btn btn-primary nav-button d-flex justify-content-center align-items-center"
        id="rightArrow">
        <i class="fas fa-forward" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <!-- ------- FIN DE TABLA DE PLANES ------- -->
</body>
<!-- /.container-fluid -->

{% endblock %}

{% block extra-scripts %}
<script>
  var dic_al;
  var dict_alimentos;
  function calcular_requisitos() {
    var peso = {{ infoUser.peso }};
    var altura = {{ infoUser.altura }}/100;
    var sexo = '{{infoUser.sexo}}';
    var edad = {{ edad }};
    var imc = (peso / Math.pow(altura, 2));
    var objetivo = document.getElementById("txtObjetivo").selectedIndex;
    var actividad = document.getElementById("txtActividadFisica").selectedIndex;

    var txt_imc = document.getElementById("txtIMC");
    var txt_msj_imc = document.getElementById("txtMsjIMC");
    var txt_tmb = document.getElementById("txtTMB");

    txt_imc.innerHTML = imc.toPrecision(4);
    txt_msj_imc.innerHTML = indice_masa_corporal(imc);
    var tmb = tasa_metabolica_basal(sexo, edad, peso, altura, objetivo, actividad);
    txt_tmb.innerHTML = tmb;
    mostrar_plan(tmb);
    document.getElementById("cargadorBoton").setAttribute("disabled","")
  }

  function indice_masa_corporal(imc) {
    //fuente
    //https://www.seedo.es/index.php/pacientes/calculo-imc
    if (imc < 18.5) {
      return "Peso insuficiente";
    } else if (imc < 25) {
      return "Peso normal";
    } else if (imc < 27) {
      return "Sobrepeso grado I";
    } else if (imc < 30) {
      return "Sobrepeso grado II (preobesidad)";
    } else if (imc < 35) {
      return "Obesidad de tipo I";
    } else if (imc < 40) {
      return "Obesidad de tipo II";
    } else if (imc < 50) {
      return "Obesidad de tipo III (mórbida)";
    } else if (imc >= 50) {
      return "Obesidad de tipo IV (extrema)";
    }
  }

  function tasa_metabolica_basal(sexo, edad, peso, altura, meta, actividad_fisica) {
    //fuente
    //https://www.axahealthkeeper.com/blog/calculo-de-calorias-diarias-cuantas-calorias-debo-consumir-al-dia/
    //https://www.axahealthkeeper.com/blog/que-es-y-como-calcular-la-tasa-metabolica-basal/
    var tmb = 0;
    switch (sexo) {
      case 'H'://si es hombre
        tmb = (10 * peso) + (6.5 * altura) - (5 * edad) - 161;
        break;
      case 'M':// si es mujer
        tmb = (10 * peso) + (6.5 * altura) - (5 * edad) + 5;
        break;
      default:
        tmb = -1;
    }

    switch (actividad_fisica) {
      case 0://nada de ejercicio
        tmb *= 1.2;
        break;
      case 1://ejercicio ligero dos días por semana
        tmb *= 1.375;
        break;
      case 2://ejercicio moderado, unos cuatro días por semana
        tmb *= 1.55;
        break;
      case 3://deporte regular seis días a la semana
        tmb *= 1.725;
        break;
      default://deportista de élite
        tmb *= 1.9;
    }

    switch (meta) {
      case 0:
        tmb *= 1;
        break;
      case 1:
        tmb *= 0.75; // 15%-20%
        break;
      default:
        tmb *= 1.15;
    }
    return tmb.toPrecision(4);
  }

  function mostrar_plan(tmb) {
    var plan = get_plan(tmb);
    var tabla_plan = document.getElementsByClassName("select-column");
    tabla_plan[0].innerHTML = construir_colacion(0, plan[0], dict_alimentos); //desayuno
    tabla_plan[1].innerHTML += construir_colacion(1, plan[1], dict_alimentos); //colacion1
    tabla_plan[2].innerHTML += construir_colacion(2, plan[2], dict_alimentos); //comida
    tabla_plan[3].innerHTML += construir_colacion(3, plan[3], dict_alimentos); //colacon2
    tabla_plan[4].innerHTML += construir_colacion(4, plan[4], dict_alimentos); //cena
    agregar_listeners();
  }



  function get_plan(kcal) {
    /* [[desayuno],[colacion1],[comida],[colacion2],[cena]]
    [CEREALES Y TUBÉRCULOS,VERDURAS,FRUTAS,ALIMENTOS DE ORIGEN ANIMAL,LECHE Y SUSTITUTOS,
    LEGUMINOSAS,GRASAS,AZÚCARES,ALIMENTOS LIBRES DE ENERGÍA]*/
    if (kcal < 1000) {
      return [[1, 1, 1, 1, 1, 0, 1, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0], [2, 2, 1, 1, 1, 0, 1, 0, 0], [0, 0, 0, 0, 1, 0, 0, 0, 0], [1, 1, 1, 0, 0, 0, 0, 0, 1]];
    } else if (kcal < 1200) {
      return [[2, 1, 1, 0, 0, 0, 1, 0, 1], [1, 0, 0, 0, 1, 0, 0, 0, 0], [2, 2, 1, 2, 1, 0, 1, 0, 0], [0, 1, 0, 0, 1, 0, 0, 0, 0], [1, 1, 0, 0, 1, 0, 0, 0, 0]];
    } else if (kcal < 1400) {
      return [[2, 1, 1, 1, 1, 0, 1, 0, 0], [0, 0, 1, 0, 1, 0, 0, 0, 0], [2, 2, 0, 2, 0, 0, 1, 0, 0], [1, 0, 0, 0, 1, 0, 0, 0, 0], [1, 1, 1, 1, 1, 0, 0, 0, 0]];
    } else if (kcal < 1600) {
      return [[2, 2, 1, 0, 1, 0, 1, 0, 0], [0, 1, 0, 1, 0, 0, 0, 0, 0], [2, 2, 1, 2, 1, 0, 1, 0, 0], [1, 0, 1, 0, 0, 0, 0, 0, 0], [1, 2, 1, 1, 0, 0, 0, 0, 1]];
    } else if (kcal < 1800) {
      return [[3, 1, 2, 1, 1, 0, 1, 0, 0], [1, 1, 0, 0, 0, 0, 0, 0, 0], [2, 2, 1, 2, 1, 0, 1, 0, 0], [1, 0, 0, 0, 1, 0, 0, 0, 0], [1, 2, 1, 1, 0, 0, 0, 0, 1]];
    } else /*if (kcal < 2000)*/ {
      return [[3, 1, 2, 2, 1, 0, 1, 0, 0], [1, 1, 0, 0, 0, 0, 0, 0, 0], [2, 2, 1, 2, 1, 0, 1, 0, 1], [1, 0, 1, 0, 0, 0, 0, 0, 0], [1, 2, 1, 1, 1, 0, 0, 0, 0]];
    }
  }

  
  function construir_colacion(tc, plan, dic) {
    var llave_comida = ["Desayuno", "Colacion1", "Comida", "Colacion2", "Cena"]
    var llave_alimentos = ["Cereales y tubérculos", "Verduras", "Frutas", "Alimentos de origen animal",
      "Leche", "Leguminosas", "Grasas", "Azúcares", "Alimentos libres en energía"];
    var colors={
      "Cereales y tubérculos": "bg-cereales", 
      "Verduras": "bg-verduras", 
      "Frutas": "bg-frutas", 
      "Alimentos de origen animal": "bg-animal",
      "Leche": "bg-leche", 
      "Leguminosas": "bg-leguminosas", 
      "Grasas": "bg-grasas", 
      "Azúcares": "bg-azucares", 
      "Alimentos libres en energía": "bg-libre"
    };
    var html_code = "<div>";
    for (var i = 0; i < plan.length; i++) {//[]
      for (var j = 0; j < plan[i]; j++) {//n
        html_code += "<div><select class='form-select "+ colors[llave_alimentos[i]] + " border-light rounded-3' name='" + llave_comida[tc] + "'>"
        for (var k = 0; k < dic[llave_alimentos[i]].length; k++) {
          html_code += "<option class='bg-light' value = '" + dic[llave_alimentos[i]][k][1] + "'>" + dic[llave_alimentos[i]][k][0] + "</option>"
        }
        html_code += "</select></div>";
      }
    }
    html_code += "</div>";
    return html_code;
  }



  function agregar_listeners() {
    var llave_comida = ["Desayuno", "Colacion1", "Comida", "Colacion2", "Cena"];
    var selects = {};
    for (var i = 0; i < llave_comida.length; i++) {
      selects[llave_comida[i]] = document.getElementsByName(llave_comida[i]);
      for (var j = 0; j < selects[llave_comida[i]].length; j++) {
        var casilla = selects[llave_comida[i]][j]
        casilla.addEventListener("change",
          function () {
            recalcular(selects);
          }, false
        );
      }
    }
    recalcular(selects);
  }

  function recalcular(selects) {
    var suma = 0;
    var llave_comida = ["Desayuno", "Colacion1", "Comida", "Colacion2", "Cena"];
    for (var i = 0; i < llave_comida.length; i++) {
      for (var j = 0; j < selects[llave_comida[i]].length; j++) {
        var casilla = selects[llave_comida[i]][j]
        suma += dic_al[casilla.value][0];
        console.log(casilla.value)
      }
    }
    var txt_aporte_calorico = document.getElementById("txtAporteCalorico");
    txt_aporte_calorico.value = suma;
  }
  document.addEventListener('DOMContentLoaded', function () {

    //Event listener de botones de eliminar
    Array.from(document.getElementsByClassName("deleteButton")).forEach(
      button => {
        button.addEventListener("click", () => {
          Swal.fire({
            title: '¿Esta seguro?',
            text: "No sera posible revertir esta accion",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '¡Si, eliminarlo!',
            cancelButtonText: 'Cancelar'
          }).then((result) => {
            let idPlan = button.parentElement.parentElement.children[0].innerText;
            let csrftoken = '{{ csrf_token }}';
            if (result.isConfirmed) {
              $.ajax({
                url: '/planes',
                type: 'DELETE',
                data: idPlan,
                headers: { 'X-CSRFToken': csrftoken },
                success: function (result) {
                  Swal.fire(
                    '¡Eliminado!',
                    'Tu plan ha sido eliminado',
                    'success'
                  ).then((result) => {
                    location.reload();
                  }
                  );
                },
                error: function (result) {
                  Swal.fire(
                    '¡Oops..Ocurrio un error!',
                    'Intentelo mas tarde',
                    'error'
                  )
                }
              });

            }
          });
        });
      });
    //Event listener de botones para ver
    Array.from(document.getElementsByClassName("seeButton")).forEach(
      button => {
        button.addEventListener("click", () => {
          //$('#modalVer').modal('show')
          button.parentElement.children[1].style.display = "none"
          button.parentElement.children[2].style.display = "inline-block"
          let idPlan = button.parentElement.parentElement.children[0].innerText;
          let csrftoken = '{{ csrf_token }}';
          $.ajax({
            url: '/planes',
            type: 'GET',
            data: { "plan_id": idPlan },
            headers: { 'X-CSRFToken': csrftoken },
            dataType: "json",
            error: function (result) {
              Swal.fire(
                '¡Oops..Ocurrio un error!',
                'Intentelo mas tarde',
                'error'
              )
            },
            success: function (result) {
              let tablaDesayuno = document.getElementById("desayuno-table");
              let tablaColacion1 = document.getElementById("colacion1-table");
              let tablaComida = document.getElementById("comida-table");
              let tablaColacion2 = document.getElementById("colacion2-table");
              let tablaCena = document.getElementById("cena-table");
              tablaDesayuno.innerHTML = "";
              tablaColacion1.innerHTML = "";
              tablaComida.innerHTML = "";
              tablaColacion2.innerHTML = "";
              tablaCena.innerHTML = "";
              result.forEach(colacion => {
                let tabla;
                if (colacion.tipoComida == "Desayuno")
                  tabla = tablaDesayuno
                if (colacion.tipoComida == "Colación 1")
                  tabla = tablaColacion1
                if (colacion.tipoComida == "Comida")
                  tabla = tablaComida
                if (colacion.tipoComida == "Colación 2")
                  tabla = tablaColacion2
                if (colacion.tipoComida == "Cena")
                  tabla = tablaCena
                tabla.innerHTML += getAlimentoRow(colacion);
              });
              $('#modalVer').modal('show')
              button.parentElement.children[2].style.display = "none"
              button.parentElement.children[1].style.display = "inline"
            }
          });
        });
      });
    //Ocultar planes no necesarios
    var planes = Array.from(document.getElementsByName("plan"));
    for (var i = 5; i < planes.length; i++) {
      planes[i].style.display = "none";
    }
    //Event listener de flechas de navegacion
    var page = 0;
    document.getElementById("leftArrow").addEventListener("click", () => {
      if (page != 0) {
        for (var i = 5 * page; i < planes.length && i < (5 * (page + 1)); i++) {
          planes[i].style.display = "none";
        }
        page -= 1;
        for (var i = 5 * page; i < planes.length && i < (5 * (page + 1)); i++) {
          planes[i].style.display = "table-row";
        }
        document.getElementById("noPage").innerText = page + 1;
      }
    });
    document.getElementById("rightArrow").addEventListener("click", () => {
      if (planes.length > 5 * (page + 1)) {
        for (var i = 5 * page; i < planes.length && i < (5 * (page + 1)); i++) {
          planes[i].style.display = "none";
        }
        page += 1;
        for (var i = 5 * page; i < planes.length && i < (5 * (page + 1)); i++) {
          planes[i].style.display = "table-row";
        }
        document.getElementById("noPage").innerText = page + 1;
      }
      else {
        Swal.fire({
          title: 'Oops...',
          text: "Parece que ya no hay mas planes",
          icon: 'info',
        });
      }
    });
    //Cargador de lista de alimentos
    $.ajax({
      url: 'getDatos',
      type: 'GET',
      headers: { 'X-CSRFToken': '{{ csrf_token }}' },
      dataType: "json",
      success: function (result) {
        dic_al = {};
        dict_alimentos = {};
        result.listaAlimentos.forEach((alimento) => {
          dic_al[alimento.idAlimento] = [alimento.energia, alimento.proteina];
        });
        result.listaGrupos.forEach((grupo) => {
          dict_alimentos[grupo.nombre] = []
        });
        result.listaAlimentos.forEach((alimento) => {
          dict_alimentos[alimento.idGrupo].push([alimento.nombre, alimento.idAlimento]);
        });
        document.getElementById("div-cargadorBoton").innerHTML = `
              <button id="cargadorBoton" class="align-middle btn btn-primary"
              onclick="calcular_requisitos()">
                Calcular requerimientos
              </button>
            `
      }
    });
  });
  function getAlimentoRow(json) {
    innerHTML = `
    <tr>
      <td>${json.nombre}</td>
      <td>${json.grupo}</td>
      <td>${json.racion}</td>
    </tr>
    `;
    return innerHTML;
  }
  /*

    */
</script>


{% endblock %}

